.nautilus-window .horizontal.linked entry.search:first-child:not(:focus) {
    border-left: 1px solid transparent;
    border-image: -gtk-scaled(url("../assets/entry-toolbar.png"),url("../assets/entry-toolbar@2.png")) 10 12 10 12 / 10px 0 10px 12px stretch;
}

.nautilus-window .horizontal.linked entry.search:first-child:focus {
    border-image: -gtk-scaled(url("../assets/entry-toolbar-focused.png"),url("../assets/entry-toolbar-focused@2.png")) 10 12 10 12 / 10px 0 10px 12px stretch;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nautilus-window headerbar.toolbar-mode.titlebar .horizontal.linked entry:last-child {
    border-image-width: 10px 12px;
    margin-left: 3px;
}

.nautilus-window widget.view:active:not(:focus) {
    background-color: inherit;
}

.nautilus-window widget.view:selected:backdrop {
    background-color: alpha (@backdrop_selected_bg_color, 0.9);
    color: @backdrop_text_color;
}

.nautilus-window widget.view:not(:selected):backdrop {
    background-color: @theme_bg_color;
}

.nautilus-window treeview.view:selected:backdrop {
    color: @backdrop_text_color;
}
