[Desktop Entry]
Type=Application
Name=Displayconfig
Exec=qdbus org.gnome.Mutter.DisplayConfig
OnlyShowIn=Unity;
NoDisplay=true
StartupNotify=false
Terminal=false
AutostartCondition=GNOME3 unless-session gnome
