[Unit]
Description=Load required files in advance
ConditionPathExists=/var/lib/ureadahead/pack
DefaultDependencies=no
Before=shutdown.target
Conflicts=shutdown.target

[Service]
ExecStart=-/sbin/ureadahead --quiet --daemon
RemainAfterExit=yes
StandardOutput=syslog
Type=forking

[Install]
WantedBy=default.target
Also=ureadahead-collect.service
