[Unit]
Description=Record required files to be later loaded by ureadahead-replay.service
ConditionPathExists=!/var/lib/ureadahead/pack
DefaultDependencies=no
Before=shutdown.target
Conflicts=shutdown.target

[Service]
ExecStart=-/sbin/ureadahead --quiet --daemon --timeout=120
RemainAfterExit=yes
StandardOutput=syslog
Type=forking

[Install]
WantedBy=default.target
Also=ureadahead-replay.service
